<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/index.css">
  <link rel="stylesheet" href="./css/reset.css">
</head>

<body>
  <div id="app" class="wrap">
    <div class="search_form">
      <div class="logo">
        <img src="img/logo.png" alt="logo">
      </div>
      <div class="form_group">
        <input type="text" @keyup.enter="searchWeather" v-model="city" placeholder="请输入查询的天气" class="input_txt">
        <button class="input_sub" @click="changeCity(" 北京")">
          搜 索
        </button>
      </div>
      <div class="hotkey">
        <a href="javascript:;" @click="changeCity(" 北京")">北京</a>
        <a href="javascript:;" @click="changeCity(" 上海")">上海</a>
        <a href="javascript:;" @click="changeCity(" 广州")">广州</a>
        <a href="javascript:;" @click="changeCity(" 深圳")">深圳</a>
      </div>
    </div>
    <ul class="weather_list">
      <li v-for="item in weatherList">
        <div class="info_type"><span class="iconfont">{{item.type}}</span></div>
        <div class="info_temp">
          <b>{{item.low}}</b>
          ~
          <b>{{item.high}}</b>
        </div>
        <div class="info_data"><span>{{item.data}}</span></div>
      </li>
    </ul>
  </div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="./js/main.js"></script>
</body>

</html>